{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-warning">{{ error }}</div>
    {% endif %}
    <h1>Update Entry</h1>
    <div style="margin-top: 20px; width: 60%;">
        <form action="{% url 'encyclopedia:update' title=title %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update Entry" class="btn btn-primary btn-sm float-right" style="margin-top: 15px; align-self: flex-end;">
        </form>
    </div>
{% endblock %}